.main-content p {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    line-height: 1.8em;
    font-size: 19px;
}
.main-content h1 {
    font-size: 40px;
    text-align: center;
    padding-top: 90px;
}
/* .menu {
    margin-top: 0;
}
.draw-border:hover {
    color: #3c8a7d;
}
.draw-border:hover::before, .draw-border:hover::after {
    border-color: #3c8a7d;
} */
.main-content p a {
    text-decoration: none;
    color: black;
    background-color: #fcf5d4;
}
.main-content p a:hover {
    background-color: #f7b89b;
}
.side-bar {
    display: none;
}