@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: black;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

/* sections */

section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
  background-size: cover; /* Ensure the background image covers the entire section */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  display: flex; /* Optional: Use flexbox to center content */
  justify-content: center; /* Optional: Center content horizontally */
  align-items: center; /* Optional: Center content vertically */
  text-align: center; /* Optional: Center text */
}

section:nth-of-type(1) {
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), /* Overlay */
    url('images/forest.jpg'); /* Background image */
}
section:nth-of-type(2) {
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), /* Overlay */
    url('images/abstract2.jpg'); /* Background image */
}
section:nth-of-type(3) {
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), /* Overlay */
    url('images/abstract2.jpg'); /* Background image */
  transform: scaleY(-1); /* flip section upside down */
}
section:nth-of-type(3) .section-content {
  transform: scaleY(-1);
}

section:nth-of-type(4) {
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)), /* Overlay */
    url('images/space.jpg'); /* Background image */
}

.section-content h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.section-content p {
  font-size: 22px;
  line-height: 1.7em;
  padding: 10px 0px;
  max-width: 800px;
}

.section-content a {
  display: inline-block;
  text-decoration: none;
  background-color: #ffffff36;
  border: 0.7px solid transparent;
  border-radius: 2px;
  color: #daede3;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  padding: 10px 14px;
  margin-top: 20px;
}

.section-content a:hover {
  background-color: transparent;
  border: 0.7px solid #daede3;
}

.hidden {
  opacity: 0;
  filter: blur(10px);
  transform: translateX(-30%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
