@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: black;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

/* sections */
.scroll-container {
  overflow-y: scroll;
  height: 100vh;
  scroll-snap-type: y proximity;
}

section {
  min-height: 100vh;
  background-size: cover; /* ensures image covers the entire section */
  background-position: center; 
  background-repeat: no-repeat; 
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

section:nth-of-type(1) {
  background-image: 
    linear-gradient(
        to bottom, 
        rgba(0, 0, 0, 0.3) 0%, 
        rgba(0, 0, 0, 0.4) 25%, 
        rgba(0, 0, 0, 0.6) 75%, 
        rgba(0, 0, 0, 0.9) 100%
    ), 
    url('images/forest.jpeg'); 
}
section:nth-of-type(2) {
  background-image: 
    linear-gradient(
        to bottom, 
        rgba(0, 0, 0, 1) 0%, 
        rgba(0, 0, 0, 0.3) 25%, 
        rgba(0, 0, 0, 0.3) 75%, 
        rgba(0, 0, 0, 1) 100%
    ), 
    url('images/space.jpeg');
}
section:nth-of-type(3) {
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), 
    url('images/world.jpeg'); 
  position: relative;
}


section:nth-of-type(4) {
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)), 
    url('images/space.jpeg'); 
}

.section-content p {
  font-size: 1.3rem;
  line-height: 1.7em;
  padding: 10px 5px;
  max-width: 810px;
}

/* credit for the blinking typewriter effect: https://css-tricks.com/snippets/css/typewriter-effect/ */
.typewriter {
  padding: none;
  font-size: 1.5rem;
  overflow: hidden; /* Ensures content is not revealed until the animation */
  border-right: .12em solid #e5cda3; 
  white-space: nowrap; 
  letter-spacing: .1em;
  margin: 0 auto; /* Gives the scrolling effect as the typing happens */
  animation: 
    typing 3.4s steps(30, end),
    blink-caret .9s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #ccc19d }
}

/* 
  credit for button hover effect using box shadow: 
  https://alvarotrigo.com/blog/best-css-button-hover-effects/ 
*/
.section-content a {
  display: inline-block;
  text-decoration: none;
  background-color: rgba(50, 95, 97, 0.6); 
  border: none;
  border-radius: 6px;
  color: rgb(224, 255, 255);
  font-size: 1rem;
  padding: 10px 16px;
  margin-top: 20px;
  transition: all 0.3s;
  outline: none;
  position: relative;
  box-shadow: none; 
  transform: translateY(0);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.section-content a:hover,
.section-content a:focus {
  /* horizontal-offset vertical-offset blur-radius spread-radius color */
  box-shadow: 0.3em 0.15em 0 0 rgba(199, 239, 239, 0.768);
  transform: translateY(-0.25em);
}

.section-content a:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #94f9e629;
  transition: all 0.3s;
  border-radius: 6px;
}

.section-content a:hover:after {
  width: 100%;
}

.hidden {
  opacity: 0;
  filter: blur(10px);
  transform: translateX(-30%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

@media (max-width: 1000px) {
  .section-content p {
    font-size: 1.25rem;
    max-width: 600px;
  }
}

@media (max-width: 768px) {  
  .section-content p {
    font-size: 1rem;
    max-width: 400px;
  }
  
  .section-content a {
    font-size: 0.8rem;
  }

  .typewriter {
    font-size: 1.2rem;
  }
}
