@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: black;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

/* sections */

section {
  min-height: 100vh;
  background-size: cover; /* ensures image covers the entire section */
  background-position: center; 
  background-repeat: no-repeat; 
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  text-align: center; 
}

section:nth-of-type(1) {
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), 
    url('images/forest.jpeg'); 
}
section:nth-of-type(2) {
  background-image: 
    linear-gradient(
        to bottom, 
        rgba(0, 0, 0, 1) 0%, 
        rgba(0, 0, 0, 0.3) 25%, 
        rgba(0, 0, 0, 0.3) 75%, 
        rgba(0, 0, 0, 1) 100%
    ), 
    url('images/space.jpeg');
}
section:nth-of-type(3) {
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), 
    url('images/world.jpeg'); 
  position: relative;
}


section:nth-of-type(4) {
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)), 
    url('images/space.jpeg'); 
}

.section-content p {
  font-size: 22px;
  line-height: 1.7em;
  padding: 10px 0px;
  max-width: 800px;
}

.section-content a {
  display: inline-block;
  text-decoration: none;
  background-color: rgba(50, 95, 97, 0.6); 
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: 1.1rem;
  font-family: 'Poppins', sans-serif;
  padding: 10px 16px;
  margin-top: 20px;
  transition: all 0.3s;
  outline: none;
  position: relative;
}

.section-content a:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #94f9e629;
  transition: all 0.3s;
  border-radius: 6px;
}

.section-content a:hover:after {
  width: 100%;
}

.hidden {
  opacity: 0;
  filter: blur(10px);
  transform: translateX(-30%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

@media (max-width: 1000px) {
  .section-content p {
    font-size: 20px;
    max-width: 600px;
  }
}

@media (max-width: 768px) {  
  .section-content p {
    font-size: 17px;
    max-width: 400px;
  }
  
  .section-content a {
    font-size: 0.9rem;
  }
}
